@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');
html {
  font-size: 10px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
.App,
#root {
  height: 100%;
}

body {
  margin: 0;
}

p {
  font-size: 1.6rem;
}
.App {
  display: flex;
  flex-direction: row;
}

.tree-container {
  height: 100%;
  background: #fc5c7d;
  background: linear-gradient(0deg, #6a82fb, #fc5c7d);
}

#treeWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  flex: 1;
}

.sidebar-wrapper {
  padding: 1rem;
  width: 90%;
  max-width: 20rem;
  /* background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  ); */
}

.next-node-input {
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.next-node-button {
  border: none;
  padding: 0.5rem;
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}

.fullwidth {
  width: 100%;
}

.nodeNameBase {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #ccc;
}
